* text=auto

# Prevent these files ending up in the release zip/tarballs
.github export-ignore
.gitignore export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.php-cs-fixer.php export-ignore
