includes:
    - ./phpstan-baseline.neon
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    level: 4
    paths:
        - src
    tmpDir: .tmp/phpstan
